/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #fff;
  color: #e938a5;
}

/* Título / Logo */
header h2 {
  font-size: 1rem;
  font-weight: bold;
}

/* Navegação */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #f39c12;
}

/* Container das páginas */
main {
  padding: 24px;
  font-size: 1rem;
}
